{layout name="public/layout" /}
<h4 class="text-center text-success">政策文章管理</h4>
<table class="table table-default table-hover text-center">
    <tr>
        <td>ID</td>
        <td>地区</td>
        <td>标题</td>
        <td>创建时间</td>
        <td colspan="2">操作</td>
    </tr>
    {volist name="investmentList" id="investment" empty="$empty"}
    <tr>
        <td>{$investment.id}</td>
        <td>{$investment.city_name}</td>
        <td class="text-center">{$investment.title}</td>
        <td>{$investment.create_time}</td>
        <td><a href="" onclick="dele({$investment.id}); return false">删除</a></td>
    </tr>
    {/volist}
</table>
<!--分类添加操作-->
<div class="text-center">{$investmentList|raw}</div>
<script>
    function dele(id) {
        if (confirm('您真的要删除吗？'==true)){
            window.location.href="{:url('/admin/investment/doDelete')}"+"?id="+id;
        }
    }
</script>
